

.categories-section .category-card{
    border-radius: 100px 100px 0px 0px ;
}
.categories-section .swiper-slide{
    width: 160px !important;
}
 .swiper-button-next,
 .swiper-button-prev{
    width: 35px !important;
    height: 35px !important;
}
.swiper-button-next::after {
  content: "";
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='%23ffffff' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='lucide lucide-chevron-right-icon lucide-chevron-right'%3E%3Cpath d='m9 18 6-6-6-6'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  width: 24px;
  height: 24px;
}
.swiper-button-prev::after {
  content: "";
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='%23ffffff' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='lucide lucide-chevron-left-icon lucide-chevron-left'%3E%3Cpath d='m15 18-6-6 6-6'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  width: 24px;
  height: 24px;
}


.product-image{
    /* border */
}



