.swiper-button-next::after,
.swiper-button-prev::after {
  content: "" !important;
  display: none !important;
}
.categories-section .swiper-button-next {
  right: -6% !important;
}
.categories-section .swiper-button-prev {
  left: -6% !important;
}
.active-review-image {
  border: 2px solid #3f9065;
}
.product-card .curved-card {
  clip-path: polygon(50% 2%, 95% 4%, 100% 50%, 96% 94%, 50% 100%, 5% 93%, 0% 50%, 3% 4%);
  border-radius: 40% 40% 40% 40% / 20% 20% 20% 20%;
}

.category-card img {
  filter: drop-shadow(0 15px 10px rgba(0, 0, 0, 0.08));
}
@media screen and (max-width: 768px) {
  .categories-section .swiper-button-prev,
  .categories-section .swiper-button-next {
    display: none !important;
  }
}
