 .swiper-button-next,
 .swiper-button-prev{
    width: 35px;
    height: 35px;
}

.swiper-button-next::after,
.swiper-button-prev::after {
    content: "" !important; 
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    width: 70%;
    height: 70%;
}

.swiper-button-next::after {
    background-image: url(../assets/icons/arrow/arrow-left.svg);
}

.swiper-button-prev::after {
    background-image: url(../assets/icons/arrow/arrow-right.svg);
}

.categories-section .categories-swiper .swiper-slide{
    width: 183px !important;
    height: 220px !important;
}
.product-card .curved-bg{
    /* clip-path: path('M0,40 Q140,0 285,40 L285,307 Q140,347 0,307 Z'); */
    /* clip-path: ellipse(50% 50% at 50% 50%); */
    /* clip-path: path('M0,40 Q110,0 220,40 L220,160 Q110,200 0,160 Z'); */
    clip-path: polygon(50% 1.5%, 94% 4%, 97% 50%, 94% 96%, 50% 100%, 6% 94%, 2% 50%, 5% 4%)
}

.active-review-container {
    position: absolute; 
    right: 35%; 
    top: 35%;
    z-index: 30; 
}
.active-review-container .active-review-image{
    border: 2px solid #3F9065 !important;
}

.active-review-container::after {
  content: "";
    height: 2px;
    width: 136px;
    background-color: #3F9065;
    position: absolute;
    top: 85%;
    transform: translateY(-50%);
    z-index: 10;
    right: 265%;
}


@media (max-width:768px) {
    .swiper-button-next,
.swiper-button-prev {
    width: 25px;
    height: 25px;
}
.active-review-container::after {
  content: "";
        height: 50px;
        width: 2px;
        top: 126%;
        right: 133%;
}
}



