.swiper-button-next,
.swiper-button-prev {
  width: 35px;
  height: 35px;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  content: "" !important;
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  width: 70%;
  height: 70%;
}

.swiper-button-next::after {
  background-image: url(../assets/icons/arrow/arrow-left.svg);
}

.swiper-button-prev::after {
  background-image: url(../assets/icons/arrow/arrow-right.svg);
}

.categories-section .categories-swiper .swiper-slide {
  width: 183px !important;
  height: 220px !important;
}
.product-card .curved-bg {
  clip-path: polygon(
    50% 1.5%,
    94% 4%,
    97% 50%,
    94% 96%,
    50% 100%,
    6% 94%,
    2% 50%,
    5% 4%
  );
}
.active-review::after {
  content: "";
  height: 2px;
  width: 136px;
  background-color: #3f9065;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: -1;
  right: 66%;
}

@media (max-width: 768px) {
  .swiper-button-next,
  .swiper-button-prev {
    width: 25px;
    height: 25px;
  }
  .active-review::after {
    height: 80px;
    width: 2px;
    top: 126%;
    right: 48%;
  }
}
